 
ciphercloud-x/backend/src/main/resources/application.properties 
ciphercloud-x/backend/src/main/resources/application-dev.properties 
ciphercloud-x/backend/uploads/ 
CipherCloud.exe 
config.xml 
run.bat 
